.main {
  width: 500px;
  height: 30px;
  background-color:rgb(28, 195, 225);
  margin-top: 10px;
  text-align: center;
  margin-left: 300px;
}
.same{
  width: 800px;
  height: 40px;
  background-color: grey;
  text-align: center;
  margin-top: 50px;
  margin-left: 150px;
  color: white;
}

#btn1{
  margin-left: 450px;

}
.user {
  width: 300px;
  height: 250px;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 10px;
  margin: 40%;


}
.user h6{

 margin: 20px;
}